/* header {
    background-color: cornflowerblue;
    color: white;
    
} */
/* div :hover{
background-image: url(archiveh.png);

/* max-width: 100%; */
position: absolute;
left: 3%;
 align-content: center; 
width: 100%;
height: 90%;

} */

#logo{
    z-index: 1;
    opacity: 1;
    position: absolute;
left: 3%;
 align-content: center; 
width: 100%;
height: 90%;

}

#logo.hover{
    z-index: -1;
    opacity: 0;
    position: absolute;
left: 3%;
 align-content: center; 
width: 100%;
height: 90%;

}


#logo2{
    z-index: 0;
    opacity: 1;
    position: absolute;
left: 3%;
 align-content: center; 
width: 100%;
height: 90%;


}

body {
    background-color:black;
}


}

h3 {
    padding-bottom: 0;
}

p {
    padding-top: 1;
    padding-bottom: 5px;
}


div {
    height: auto;
     max-width: 100%; 
    position: absolute;
    left: 3%;
    align-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav ul li {
    display: inline-block;
    margin: 0 1rem 0 0;
    padding: 0;

}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    padding: 5px;
}

nav ul li a:hover {
    color: white;
}

.project {
    background-color: coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.project img {
    max-width: 100%;
}

.project__left {
    background-color: palegreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}